<%= form_for(sku) do |f| %>
  <% if sku.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sku.errors.count, "error") %> prohibited this sku from being saved:</h2>

      <ul>
      <% sku.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skuid %>
    <%= f.number_field :skuid %>
  </div>

  <div class="field">
    <%= f.label :skuname %>
    <%= f.text_field :skuname %>
  </div>

  <div class="field">
    <%= f.label :avgsaleprice %>
    <%= f.text_field :avgsaleprice %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
