<p id="notice"><%= notice %></p>

<h1>Skus</h1>

<table>
  <thead>
    <tr>
      <th>Skuid</th>
      <th>Skuname</th>
      <th>Avgsaleprice</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skus.each do |sku| %>
      <tr>
        <td><%= sku.skuid %></td>
        <td><%= sku.skuname %></td>
        <td><%= sku.avgsaleprice %></td>
        <td><%= link_to 'Show', sku %></td>
        <td><%= link_to 'Edit', edit_sku_path(sku) %></td>
        <td><%= link_to 'Destroy', sku, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sku', new_sku_path %>
